{% extends 'AppBundle:Front:base.html.twig' %}
{% block main %}
    <div class="tv-barre">
        <div class="tv-date">
            jeudi 19 mars
        </div>
        <div class="tv-heure">
        </div>
    </div>
    <div class="tv-player">
        <iframe src="http://www.youtube.com/embed/videoseries?list=PLhe1Ui53WFzLM4K5YB0SstFrAuMppBIXR"
                width="100%" height="700" frameborder="0"></iframe><!-- juste a modifier le après list= pour modifier la playlist -->
    </div>
    <div class="tv-meteo">

    </div>
    <div class="tv-programme">

    </div>
    <div class="tv-twitter">
               <a class="twitter-timeline"
                  href="https://twitter.com/mmi_troyes"
                  data-widget-id="573774469891813376"
                  data-theme="dark"
                  data-link-color="#cc0000"
                  data-related="twitterapi,twitter"
                  data-aria-polite="assertive"
                  width="100%"
                  height="140px">
                Tweets by @MMI_Troyes
                </a>
                <script>window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));</script>
    </div>
    <div class="tv-planning">

    </div>
{% endblock %}
