<div class="back-menu">
    <ul>
        <li  class="back-active"><a href="{{ path('app_admin_accueil') }}">Accueil</a></li>
        <li><a href="#">Programmation</a></li>
        <li><a href="{{ path('app_admin_videos') }}">Vidéos</a></li>
        <li><a href="{{ path('app_admin_utilisateurs') }}">Utilisateurs</a></li>
    </ul>
</div>
