body{
    width:100%;
    margin:0 auto;
}
.clearfix{
    clear: both;
    display: block;
}
.back-header{
    background-color: #1f1f1f;
    color:white;
    height:110px;
}
.back-logo{
    float:left;
    padding-left:15px;
}
.back-header h1 {
    float: left;
    margin-left:35px;
}
.back-login{
    float: right;
    margin-right:45px;
    margin-top:10px;
}
.back-account{
    float:right;
    margin-right: 10px;
    margin-top: -5px;
}
.back-account button{
    background-color: #ba0101;
    border:1px solid #ba0101;
    border-radius: 8px 8px 8px;
    color:white;
    margin-top:5px;
}
.back-menu{
    width:166px;
    height: 635px;
    padding-top:15px;
    margin-top:0px;
    background-color: #1f1f1f;
    float:left;
}
.back-menu ul{
    margin-left:-50px;
}
.back-menu ul li{
    list-style-type: none;
    border: 1px solid white;
    padding:10px;
}
.back-menu ul li a{
    margin-left:15px;
    padding:15px;
    color:white;
    text-decoration: none;
}
.back-menu ul li:hover{
    background-color: #525252;
}
.back-contenu{
    text-align: center;
}
.back-contenu h1{
    color:#017eba;
}
.back-active{
    border-right: 15px solid blue;
    background-color: #525252;
}
.back-video:hover{
    box-shadow: 2px 2px 2px blue;
}
.back-programmation:hover{
    box-shadow: 2px 2px 2px blue;
}
.back-utilisateurs:hover{
    box-shadow: 2px 2px 2px blue;
}
fieldset {
    display: inline-block;
}
